<div class="vending-keypad-container">
  <div class="pad-row">
    <div class="pad-row__display-box">
      <label *ngIf="!topUp" class="action-selection"
        >Please select the desired product</label
      >
      <label *ngIf="topUp" class="action-selection">Add credit</label>
      <label class="invalid-code blink" *ngIf="!isCodeValid">{{
        invalidText
      }}</label>
      <label class="invalid-credit blink" *ngIf="!isCreditValid">{{
        invalidText
      }}</label>
      <input
        [style.visibility]="showData ? 'visible' : 'hidden'"
        class="pad-screen order-screen"
        readonly
        type="number"
        [value]="result"
      />
    </div>
  </div>
  <div class="pad-row buttons-container">
    <button
      class="pad-row__button"
      *ngFor="let button of buttons"
      (click)="evaluate(button)"
      [disabled]="!showData"
    >
      {{ button }}
    </button>
  </div>
</div>
