<div class="hallway">
  <div class="vending-large-container">
    <div class="vending-machine">
      <!-- Actual displayed products -->
      <div
        class="vending-item-container"
        *ngFor="let item of products; index as i"
      >
        <div
          class="vending-item-container__item default-item-class"
          [ngClass]="item.prodClass"
        >
          <span *ngIf="item.qty" class="vending-item-container__item--rotate">{{
            item.alias
          }}</span>
          <label class="vending-item-container__code"
            >Id {{ i + 10 }} | $ {{ item.price }}
          </label>
        </div>
      </div>
    </div>

    <!-- Switch area between product selection and credit topup -->
    <div class="product-code-slot" (click)="toggleScreens(false)">
      <div class="product-code-slot-container">
        <div class="product-code-slot__screen-order" [class.blink]="!showPanel">
          <span>Id</span>{{ displayedCode }}
        </div>
      </div>
      &#9783;&#9783;&#9783;
    </div>
    <div class="product-credit-slot" (click)="toggleScreens(true)">
      <div class="product-code-slot-container">
        <div
          class="product-credit-slot__screen-credit"
          [class.blink]="!showPanel"
        >
          <span>$</span>{{ creditVal }}
        </div>
      </div>
      &#9783;&#9783;&#9783;
    </div>
    <div class="outlet"></div>
  </div>

  <!-- Added here keypad component which incorporated both product selection and credit topup -->
  <vending-keypad
    *ngIf="showPanel"
    [topUp]="addMoney"
    (changeQuantity)="receiveQChange($event)"
    (updateCode)="receiveCode($event)"
    (updateCredit)="updatedCredit($event)"
  ></vending-keypad>
</div>
